---
import Featured from '../components/Featured.astro';
import Time from '../components/Time.astro';
import { SITE_TITLE, SITE_THEME } from '../config';
---

<html lang="en" data-theme={SITE_THEME}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{SITE_TITLE}</title>

        <link rel="stylesheet" href="/pico.min.css" />
    </head>
    <body>
        <main>
            <div class="container">
                <Time />
                <Featured />
            </div>
        </main>
    </body>
</html>

<style>
    main {
        margin-top: 4rem;
    }
</style>
