---
import { SITE_SHOW_TIME, SITE_TIME_FORMAT_12HR } from '../config';

const date = new Date();
const currentTime = date.toLocaleTimeString([], {
    hour: '2-digit',
    minute: '2-digit',
    hour12: SITE_TIME_FORMAT_12HR,
});
---

{SITE_SHOW_TIME && <h1 class="time">{currentTime}</h1>}

<style>
    .time {
        text-align: center;
        text-transform: uppercase;
        font-size: 4em;
    }
</style>
